/* Reset default styling for manual control. */
*, ::before, ::after {
	padding:  0;
	margin:  0;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */

  	/* Set Default Font-Size to easily use rem, em */
  	font-size: 16px;
  	font-family: Itim;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Declare Variables for Color Pallete */
:root
{
	--cello: #1d4357;
	--boston-blue: #2e9fb6;
	--morning-glory: #9ccfde;
	--cararra: #f5f5f2;
	--lemon-grass: #929780;
}

body
{
	background: var(--cello);

}

header
{
	background: var(--boston-blue);
	border-radius: 0 0 33px 33px;
}

header h1 
{
	font-size: 4rem;
	color: var(--cello);
	text-align: center;
	padding-top: 25px;
}

header h3
{
	font-size: 2rem;
	color: var(--cello);
	text-align: right;
	margin-right: 100px;
}

#central-block
{
	background: var(--lemon-grass);
	height: 25em;
	width: 60%;
	margin: 0 auto;
	border-radius: 33px;
	margin-top: 5em;
}

#central-block form 
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#central-block label 
{
	font-size: 3rem;
	color: var(--cararra);
	margin: 0 auto;
	text-align: center;
}

#enter_button
{
	width: 100px;
	height: 50px;
	grid-column: 1;
	justify-self: center;
	color: var(--cello);
	background-color: var(--morning-glory);
	border-radius: 25px;
	cursor: pointer;
}

#storeNumText
{
	font-size: 2.5rem;
	align-self: center;
}

#addressText
{
	resize: none;
	height: 100px;
	width: 250px;
	font-size: 1.75rem;
}

#storeLabel
{
	grid-column: 1;
}

#addressLabel
{
	grid-column: 2;
	grid-row: 1;
	justify-self: center;
}

@media only screen and (max-width: 480px) /* Mobile Devices */
{

	#central-block
	{
		width: 60%;
		margin-top: 7.5em;
	}

	#central-block form
	{
		grid-template-columns: 1fr;
	}

	header h1
	{
		font-size: 2rem;
	}

	header h3
	{
		font-size: 1rem;
		margin-right: 25px;
	}

	#central-block label
	{
		font-size: 1.5rem;
	}

	#storeNumText
	{
		font-size: 1.5rem;
	}

	#addressLabel
	{
		grid-column: 1;
		grid-row: 3;
	}

	#addressText
	{
		width: 100px;
		font-size: 1rem;
	}

	#enter_button
	{
		margin-top: 25px;
		margin-bottom: 25px;
		grid-row: 2;
	}

	#storeLabel
	{
		grid-row: 1;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) /* Tablets */
{
	#central-block
	{
		width: 60%;
		margin-top: 7.5em;
	}

	#central-block form
	{
		grid-template-columns: 1fr;
	}

	header h1
	{
		font-size: 3rem;
	}

	header h3
	{
		font-size: 1.5rem;
		margin-right: 25px;
	}

	#central-block label
	{
		font-size: 2rem;
	}

	#storeNumText
	{
		font-size: 1.5rem;
	}

	#addressLabel
	{
		grid-column: 1;
		grid-row: 3;
	}

	#addressText
	{
		width: 100px;
		font-size: 1.25rem;
	}

	#enter_button
	{
		margin-top: 25px;
		margin-bottom: 25px;
		grid-row: 2;
	}

	#storeLabel
	{
		grid-row: 1;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) /* Small Screens */
{
	#central-block
	{
		width: 60%;
		margin-top: 7.5em;
	}

	#central-block form
	{
		grid-template-columns: 1fr 1fr;
	}

	header h1
	{
		font-size: 3.5rem;
	}

	header h3
	{
		font-size: 2rem;
		margin-right: 25px;
	}

	#central-block label
	{
		font-size: 2.5rem;
	}

	#storeNumText
	{
		font-size: 2rem;
	}

	#addressLabel
	{
		grid-column: 2;
	}

	#addressText
	{
		width: 250px;
		height: 100px;
		font-size: 1.5rem;
	}

	#enter_button
	{
		margin-top: 25px;
		margin-bottom: 25px;
	}

}